<html>

<head>
<meta http-equiv="Content-Type" conten="text/html; charset=utf-8">
<style type="text/css">
#caja_principal {
	background:#f0f0f0;
	width:400px;
	border:2px solid black;
	margin:0px auto;
	padding:0em;
	border-radius:30px;
}


h1{
	font-family:arial;
	color:#800080;
}

body{
	background:#51005C;
}
</style>
</head>
<body>

<p> <%= link_to "Cerrar sesión", :controller => "test_sesiones", :action => "cerrar_sesion" %> </p>
<div id="caja_principal">




<h1>Comprar Boletos <%= @minombre  %> </h1>

<br>Trabajadores : <%= link_to 'Lista', empleados_path %>
<%= link_to 'nuevo', new_empleado_path %></br>


<br>Usuarios : <%= link_to 'Lista',usuarios_path %>
<%= link_to 'nuevo', new_usuario_path %></br>


<br>Autobuses : <%= link_to 'Lista',coches_path %>
<%= link_to 'nuevo', new_coch_path %></br>



<br>Choferes : <%= link_to 'Lista',users_path %>
<%= link_to 'nuevo', new_user_path %></br>





<br></br>
<br></br>
<br></br>
<br></br>
<p> <%= link_to "Cerrar sesión", :controller => "test_sesiones", :action => "cerrar_sesion" %> </p>

<br></br>



</div>
</body>

</html>