<h1>Listing terminales</h1>

<table>
  <thead>
    <tr>
      <th>Idterminal</th>
      <th>Nombreterminal</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terminales.each do |terminale| %>
      <tr>
        <td><%= terminale.idterminal %></td>
        <td><%= terminale.nombreterminal %></td>
        <td><%= terminale.telefono %></td>
        <td><%= terminale.direccion %></td>
        <td><%= link_to 'Show', terminale %></td>
        <td><%= link_to 'Edit', edit_terminale_path(terminale) %></td>
        <td><%= link_to 'Destroy', terminale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Terminale', new_terminale_path %>
