<p id="notice"><%= notice %></p>

<p>
  <strong>Idterminal:</strong>
  <%= @terminale.idterminal %>
</p>

<p>
  <strong>Nombreterminal:</strong>
  <%= @terminale.nombreterminal %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @terminale.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @terminale.direccion %>
</p>

<%= link_to 'Edit', edit_terminale_path(@terminale) %> |
<%= link_to 'Back', terminales_path %>
