<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Chofer</th>
      <th>Numero de Buses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nombre %></td>
        <td><%= user.user %></td>
        <td><%= user.coches.count %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<br><%= link_to 'Menu principal',  :controller => "principal", :action => "index"%></br>

<%= link_to 'New User', new_user_path %>
