<%= form_for(@trayecto) do |f| %>
  <% if @trayecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trayecto.errors.count, "error") %> prohibited this trayecto from being saved:</h2>

      <ul>
      <% @trayecto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_trayecto %><br>
    <%= f.text_field :id_trayecto %>
  </div>
  <div class="field">
    <%= f.label :idterminal %><br>
    <%= f.text_field :idterminal %>
  </div>
  <div class="field">
    <%= f.label :idterminal2 %><br>
    <%= f.text_field :idterminal2 %>
  </div>
  <div class="field">
    <%= f.label :hora_salida %><br>
    <%= f.datetime_select :hora_salida %>
  </div>
  <div class="field">
    <%= f.label :hora_llegada %><br>
    <%= f.datetime_select :hora_llegada %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.number_field :precio %>
  </div>
  <div class="field">
    <%= f.label :puntos %><br>
    <%= f.number_field :puntos %>
  </div>
  <div class="field">
    <%= f.label :idautobus %><br>
    <%= f.text_field :idautobus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
