<%= form_for(@usuario) do |f| %>
<div class="field">
	 <%= f.label :usuario %><br>
    <%= f.text_field :usuario %>
</div>

<div class="field">
	 <%= f.label :contraseñ %><br>
    <%= f.text_field :contraseña %>
</div>


<div class="actions">
	 <%= f.submit  %>
</div>

<% end %>





