<h1>Listing usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Contraseña</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th>Direccion</th>
      <th>Puntos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.usuario %></td>
        <td><%= usuario.contraseña %></td>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.edad %></td>
        <td><%= usuario.telefono %></td>
        <td><%= usuario.correo %></td>
        <td><%= usuario.direccion %></td>
        <td><%= usuario.puntos %></td>
        <td><%= link_to 'Mostrar', usuario %></td>
        <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Eliminar', usuario, method: :delete, data: { confirm: 'quieres eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<br><%= link_to 'Menu principar',  :controller => "principal", :action => "index"%></br>

<%= link_to 'New Usuario', new_usuario_path %>
