<%= form_for(@boleto) do |f| %>
  <% if @boleto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boleto.errors.count, "error") %> prohibited this boleto from being saved:</h2>

      <ul>
      <% @boleto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<div class="field">
    <%= f.label :fecha_venta %>
    <%= f.datetime_select :fecha_venta , :disabled => true %>
  </div>

<label for="fecha_salida"><b>Fecha de salida:</b></label>

  <select name="boleto[folio]" class="comboBox">
        <option value=01102015>01-octubre-2014</option>  
        <option value=02102015>02-octubre-2014</option>  
        <option value=03102015>03-octubre-2014</option>  
        <option value=04102015>04-octubre-2014</option>  
        <option value=05102015>05-octubre-2014</option>  
        <option value=06102015>06-octubre-2014</option>  
        <option value=07102015>07-octubre-2014</option>  
        <option value=08102015>08-octubre-2014</option>  
        <option value=09102015>09-octubre-2014</option>  
        <option value=10102015>10-octubre-2014</option>  
        <option value=11102015>11-octubre-2014</option>  
        <option value=12102015>12-octubre-2014</option>  
        <option value=13102015>13-octubre-2014</option>  
        <option value=14102015>14-octubre-2014</option>  
        <option value=15102015>15-octubre-2014</option>  
        <option value=16102015>16-octubre-2014</option>  
        <option value=17102015>17-octubre-2014</option>  
        <option value=18102015>18-octubre-2014</option>  
        <option value=19102015>19-octubre-2014</option>  
        <option value=20102015>20-octubre-2014</option>  
        <option value=21102015>21-octubre-2014</option>  
        <option value=22102015>22-octubre-2014</option>  
        <option value=23102015>23-octubre-2014</option>  
        <option value=24102015>24-octubre-2014</option>  
        <option value=25102015>25-octubre-2014</option>  
        <option value=26102015>26-octubre-2014</option>  
        <option value=27102015>27-octubre-2014</option>  
        <option value=28102015>28-octubre-2014</option>  
        <option value=29102015>29-octubre-2014</option>  
        <option value=30102015>30-octubre-2014</option>  
        <option value=31102015>31-octubre-2014</option>  

      
  </select>


  <div class="field">
    <br><%= f.label :correo %>
    <%= f.text_field :usuario %>
  </div>



<label for="]"><b>Trayecto :</b></label>

  <select name="boleto[id_trayecto]" class="comboBox">
      <option value=vermex>Veracruz-Mexicor      $700</option>
      <option value=verpue>Veracruz-Puebla       $400</option>
     
      <option value=mexver>Puebla-Veracruz       $400</option>
      <option value=mexpue>Mexico-Puebla         $700</option>

  </select>


  </div>
 
  
  <div class="actions">
   <br> <%= f.submit %>
  </div>
<% end %>
