<h1>Listing terminal_llegadas</h1>

<table>
  <thead>
    <tr>
      <th>Idterminal2</th>
      <th>Nombreterminal2</th>
      <th>Telefono2</th>
      <th>Direccion2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terminal_llegadas.each do |terminal_llegada| %>
      <tr>
        <td><%= terminal_llegada.idterminal2 %></td>
        <td><%= terminal_llegada.nombreterminal2 %></td>
        <td><%= terminal_llegada.telefono2 %></td>
        <td><%= terminal_llegada.direccion2 %></td>
        <td><%= link_to 'Show', terminal_llegada %></td>
        <td><%= link_to 'Edit', edit_terminal_llegada_path(terminal_llegada) %></td>
        <td><%= link_to 'Destroy', terminal_llegada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Terminal llegada', new_terminal_llegada_path %>
