<p id="notice"><%= notice %></p>

<p>
  <strong>Idterminal2:</strong>
  <%= @terminal_llegada.idterminal2 %>
</p>

<p>
  <strong>Nombreterminal2:</strong>
  <%= @terminal_llegada.nombreterminal2 %>
</p>

<p>
  <strong>Telefono2:</strong>
  <%= @terminal_llegada.telefono2 %>
</p>

<p>
  <strong>Direccion2:</strong>
  <%= @terminal_llegada.direccion2 %>
</p>

<%= link_to 'Edit', edit_terminal_llegada_path(@terminal_llegada) %> |
<%= link_to 'Back', terminal_llegadas_path %>
